<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h3>You are not authorized. Please register and login</h3>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
                <PageTitle>Not Found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">           
                <p>Sorry, there's nothing at this address.</p>>
                </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>