@page "/day"

<div class="container">
		<h1 class="text-center mb-2">Day Page</h1>
		<h3 class="text-center">Monday 24th July</h3>
		<hr>
		<div class="row">
			<div class="col-md-12 mb-5">
				<h2>Breakfast</h2>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h4>Oatmeal</h4>
						</div>
						<div class="col-md-4">
							<p>Calories: 150</p>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-danger btn-sm">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h4>Scrambled Eggs</h4>
						</div>
						<div class="col-md-4">
							<p>Calories: 200</p>
						</div>
                        <div class="col-md-2">
							<button type="button" class="btn btn-danger btn-sm">Remove</button>
						</div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-5">
				<h2>Lunch</h2>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h4>Kebab</h4>
						</div>
						<div class="col-md-4">
							<p>Calories: 150</p>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-danger btn-sm">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h4>Ryebread with Kebab</h4>
						</div>
						<div class="col-md-4">
							<p>Calories: 200</p>
						</div>
                        <div class="col-md-2">
							<button type="button" class="btn btn-danger btn-sm">Remove</button>
						</div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-5">
				<h2>Dinner</h2>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h4>Lasagna</h4>
						</div>
						<div class="col-md-4">
							<p>Calories: 150</p>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-danger btn-sm">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h4>Chili con carne</h4>
						</div>
						<div class="col-md-4">
							<p>Calories: 200</p>
						</div>
                        <div class="col-md-2">
							<button type="button" class="btn btn-danger btn-sm">Remove</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
</div>