.byline {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: -10px;
}

.searchresult {
    text-decoration: none;
    color : green;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-group-item:hover {
    background-color : #94F1B4;
}
.searchresult:hover {
    background-color: green;
}
.hr {
    margin-bottom: 5px;
}
.rounded-edge {
    border-radius: 10px !important;
}