@page "/login"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager manager
@inject UserService UserService

<PageTitle>Login</PageTitle>
<h1>Login</h1>

<EditForm Model="userEmail" OnSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="userEmail" class="form-control" />
        <ValidationMessage For="@(() => userEmail)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {

    string userEmail {get; set;} = "";

    async Task HandleLogin()
    {
        var result = await Http.GetAsync($"api/User/login/{userEmail}");
        var token = await result.Content.ReadAsStringAsync();
        await LocalStorage.SetItemAsync("nourish_nexus_auth_token",token);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }

}