@page "/login"
@using server.Core.EF.DTO;
@inject NavigationManager manager
@inject UserService UserService
@inject AuthenticationStateProvider CustomAuthStateProvider
<PageTitle>Login</PageTitle>
<h1>Login</h1>

<EditForm Model="userEmail" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="userEmail" class="form-control" />
        <ValidationMessage For="@(() => userEmail)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {

    string userEmail = "";

    private async void HandleLogin()
    {
        var response = await UserService.Login(userEmail);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Success");
            UserDTO? user = await response.Content.ReadFromJsonAsync<UserDTO>();
            if (user == null) Console.WriteLine("User is null");
            else Console.WriteLine($"Nickname: {user.Nickname}, Email: {user.Email}");
            var uri =  $"{manager.BaseUri}";
            manager.NavigateTo(uri);
            await CustomAuthStateProvider.GetAuthenticationStateAsync();
        }
        else Console.WriteLine("No way Jose!");
    }
}
