@page "/login"
@using System.Net.Http.Json
@using server.Core.EF.DTO
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<PageTitle>Login</PageTitle>
<h1>Login</h1>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control" />
        <ValidationMessage For="@(() => user.Email)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    private UserCreateDTO user = new UserCreateDTO();

    private async Task HandleLogin()
    {
        Console.WriteLine("Log me in");
    }
}
