.blur{
  filter: blur(5px);
}

.value {
    text-align: end;
}

.input-field {
    width: 100px;
    margin-right: 5px;
    text-align: end;
}


    #recommended, #targets, .savemsg{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    @media(max-width:768px){
        #showmore, #showless{
        display: flex;
        text-align: center;
        justify-content: center;
        }
    }


