.blur{
  filter: blur(5px);
}

.value {
    text-align: end;
}
.input-field {
    width: 100px;
    margin-right: 5px;
    text-align: end;
}

@media (max-width: 768px){
    #recommended, #targets{
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

