@*
@page "/preferences"
@using System.ComponentModel.DataAnnotations

<h1>Preferences</h1>

<EditForm Model="@Preferences" OnValidSubmit="SavePreferences">

    <h3>Nutritional Targets</h3>
    <div class="form-group">
        <label for="calories">Calories:</label>
        <InputNumber id="calories" class="form-control" @bind-Value="Preferences.Calories" />
    </div>
    <div class="form-group">
        <label for="protein">Protein:</label>
        <InputNumber id="protein" class="form-control" @bind-Value="Preferences.Protein" />
    </div>
    <div class="form-group">
        <label for="carbs">Carbohydrates:</label>
        <InputNumber id="carbs" class="form-control" @bind-Value="Preferences.Carbohydrates" />
    </div>
    <div class="form-group">
        <label for="sugars">Sugars:</label>
        <InputNumber id="sugars" class="form-control" @bind-Value="Preferences.Sugars" />
    </div>
    <div class="form-group">
        <label for="fibres">Fibres:</label>
        <InputNumber id="fibres" class="form-control" @bind-Value="Preferences.Fibres" />
    </div>
    <div class="form-group">
        <label for="fat">Total Fat:</label>
        <InputNumber id="fat" class="form-control" @bind-Value="Preferences.TotalFat" />
    </div>
    <div class="form-group">
        <label for="satFat">Saturated Fat:</label>
        <InputNumber id="satFat" class="form-control" @bind-Value="Preferences.SaturatedFat" />
    </div>
    <div class="form-group">
        <label for="monoFat">Monounsaturated Fat:</label>
        <InputNumber id="monoFat" class="form-control" @bind-Value="Preferences.MonounsaturatedFat" />
    </div>
    <div class="form-group">
        <label for="polyFat">Polyunsaturated Fat:</label>
        <InputNumber id="polyFat" class="form-control" @bind-Value="Preferences.PolyunsaturatedFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
    <div class="form-group">
        <label for="transFat">Trans Fat:</label>
        <InputNumber id="transFat" class="form-control" @bind-Value="Preferences.TransFat" />
    </div>
</EditForm>
*@