@page "/register"
@using server.Core.EF.DTO
@inject NavigationManager manager
@inject UserService UserService

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<EditForm Model="user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class ="form-control"/>
        <ValidationMessage For="@(() => user.Email)" />   
        </div>
     <div class="mb-3">
        <label for="nickname">Nickname</label>
        <InputText id="nickname" @bind-Value="user.Nickname" class ="form-control"/>
        <ValidationMessage For="@(() => user.Nickname)" />   
        </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <div class ="@messageCssClass">
        <span>@message</span>
    </div>
</EditForm>

@code {
    private UserCreateDTO user = new UserCreateDTO();

    string message = string.Empty;
    string messageCssClass = string.Empty;

    private async Task HandleRegistration()
    {
        var response = await UserService.RegisterUser(user);
        if(response.IsSuccessStatusCode)
        {
            Console.WriteLine("Successful registration");
            UserDTO? user = await response.Content.ReadFromJsonAsync<UserDTO>();
        }

    }
}

