@page "/savedRecipes"
@attribute [Authorize]
@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using server.Core.EF.DTO;
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider CustomAuthStateProvider
@inject RecipeService RecipeService
@inject UserService UserService

<h1 class="text-center mb-3">Saved Recipes</h1>

<div class="form-group my-3">
    <input type="text" class="form-control rounded-edge" placeholder="Search..." id="search-query" @oninput="PerformSearch" />
</div>
<hr class="mb-4">

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            @if (recipes == null)
            {
                <p><em>Loading...</em></p>
            }
            else if (recipes.Any())
            {
                foreach (var recipe in recipes)
                {
                    <div class="card mb-5">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title</h5>
                            <p class="card-text">@((recipe.Description.Length > 200) ? $"{recipe.Description.Substring(0, recipeDescriptionLength)}..." : recipe.Description)</p>
                            <a href="@($"viewRecipe/{recipe.Id}/{"view"}/1")" class="btn btn-primary mx-2">View</a>
                            @if (recipe.AuthorId == userID)
                            {
                                <a href="@($"recipes/edit/{recipe.Id}")" class="btn btn-secondary mx-2">Edit</a>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <p>You have not saved any recipes yet. Please <a href="recipes/create">create a recipe</a>, or <a
                        href="Community">add a recipe from the Community</a></p>
            }
        </div>
    </div>
</div>

<div id="createrecipebtn" class="d-flex align-items-center my-3 justify-content-center fixed-bottom container">
    <button class="btn btn-primary btn-lg" @onclick="HandleCreateRecipe">Create Recipe</button>
</div>

@code
{

    private List<RecipeDTO>? recipes;

    private int userID;
    private UserDTO? user {get; set;}

    private int recipeDescriptionLength = 200;

    protected override async Task OnInitializedAsync()
    {
        var userClaim = (await CustomAuthStateProvider.GetAuthenticationStateAsync()).User;
        var userIdClaim = userClaim.FindFirst(ClaimTypes.NameIdentifier);
        int.TryParse(userIdClaim!.Value, out userID);
        user = await UserService.GetUserByID(userID);
        recipes = await GetAllSavedRecipes();
    }

    public void HandleCreateRecipe()
    {
        NavigationManager.NavigateTo("recipes/create");
    }

    private async Task PerformSearch(ChangeEventArgs e)
    {
        string searchQuery = e.Value != null ? e.Value!.ToString() ?? "" : "";
        if (searchQuery.Length < 1) 
        {
            recipes = await GetAllSavedRecipes();
        }
        else
        {
            recipes = await RecipeService.GetSavedBySearchWord(searchQuery, userID);
        }
    }

    private async Task<List<RecipeDTO>> GetAllSavedRecipes()
    {
        var recipes = new List<RecipeDTO>();
        if (user != null)
        {
            foreach (var id in user.SavedRecipeIds)
            {
                var recipe = await RecipeService.GetRecipe(id);
                recipes.Add(recipe);
            }
        }
        return recipes;
    }
}