@page "/viewRecipe"
<PageTitle>View Recipe</PageTitle>

<h3>Title</h3>
<h1>@recipe.Title</h1>
<div>
    <h3>Description</h3>
    <p>@recipe.Description</p>
</div>
<div>
    <h3>Method</h3>
    <p>@recipe.Method</p>
</div>
<div>
    <h3>Categories</h3>
    <ul>
       <li>Category 1</li>
       <li>Category 2</li>
       <li>Category 3</li>
    </ul>
</div>
<div>
    <h3>Visibility</h3>
    <p>Public</p>
</div>
<div>
    <button type="button" class="btn btn-primary">Return</button>
</div>

@code {

    private RecipeCreateDTO recipe = new();
}