.category-box {
    background-color: #eee;
    padding: 4px 8px;
    margin: 4px 8px;
}

.category-box label {
    margin-bottom: 0;
}

.category-box input[type=checkbox] {
    margin-right: 4px;
}

.ingredient-box {
    background-color: #eee;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredient-name {
    margin-right: 8px;
}

.ingredient-g {
    color: #000000;
}

.kcal {
    font-weight: normal;
}

.scale {
    margin-bottom: 10px
}

.scale-input {
    width: 50px;
    border-radius: 10px;
    text-align: center;
}

.btn-margin {
    margin-right: 10px;
}