.day-box {
    margin-top: 20px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

#totalcalories {
    font-size: 24px;
    font-weight: 500;
}

.calories-heading{
    font-size: 24px;
    font-weight: 500;
}

@media(max-width:500px)
{
    .day-box span {
        display: inline-block;
        max-width: 200px; /* Set the maximum width of the span */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Add the ellipsis at the end of the text */
    }
}

