.day-box {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

#totalcalories {
    font-size: 24px;
    font-weight: 500;
}

.calories-heading{
    font-size: 24px;
    font-weight: 500;
}
