@import '../../../styles/global.scss';

.ingredients-method-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 1px $secondary-color;
    overflow: hidden;
}

.ingredients-method-navigator {
    display: flex;
    background-color: $secondary-color;
    height: fit-content;
}

.navigator-tab {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.navigator-tab:hover {
    font-weight: bold;
}

.tab-label {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.tab-selected {
    background-color: $accent-color;
    height: 1px;
    width: 100%;
}

.selected {
    height: 3px;
    margin-top: -2px;
}

.ingredients-method-text {
    padding: 20px;
    font-size: 15px;
    margin-top:10px;
    margin-bottom: 10px;
}

.ingredients-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.total-nutrition-details {
    margin-top: 20px;
}

.total-nutrition-details-label {
    font-size: 20px;
    display: flex;
    justify-content: start;
    width: 100%;
}

.add-ingredient-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ingredient-row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.remove {
    width: 16px;
    height: 16px;
}