@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject UserService UserService


<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class="btn btn-danger">Logout</button>
    </Authorized>
</AuthorizeView>

@code{
    async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("nourish_nexus_auth_token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}