@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<div id="navhead" class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a id="navheadtext" class="navbar-brand" href="">NourishNexus</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/recipes/create">
                <span class="oi oi-pencil" aria-hidden="true"></span> Create Recipe
            </NavLink>
        </div>
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/account">
                <span class="oi oi-key" aria-hidden="true"></span> Account
            </NavLink>
        </div>
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/savedRecipes">
                <span class="oi oi-person" aria-hidden="true"></span> Saved Recipes
            </NavLink>
        </div>
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Community">
                <span class="oi oi-people" aria-hidden="true"></span> Community Recipes
            </NavLink>
        </div>
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Week/today">
                <span class="oi oi-calendar" aria-hidden="true"></span> Week
            </NavLink>
        </div>
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/day/today">
                <span class="oi oi-sun" aria-hidden="true"></span> Day
            </NavLink>
        </div>
        <hr>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/nutrienttargets">
                <span class="oi oi-target" aria-hidden="true"></span> Nutrient Targets
            </NavLink>
        </div>
        <AuthorizeView>
            <NotAuthorized><hr></NotAuthorized>
        </AuthorizeView>
        
        
        <AuthorizeView>
            
            <Authorized>
            <hr>
            <div id="logout" class="nav-item px-3">
                <NavLink class="nav-link" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
            <hr>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("nourish_nexus_auth_token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
