$background-color: #062F04;
$text-color: #FFFFFF;
$primary-color: #86E981;
$secondary-color: #366933;
$accent-color: #ffc445;

:root {
    color: $text-color;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Apply styles for touch devices (devices without hover capability) */
@media (hover: none) and (pointer: coarse) {
    *:hover {
        /* Disable hover styles here */
        box-shadow: none !important;
        text-shadow: none !important;
    }
}